@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'Manrope', sans-serif;
}

.mainBanner{
  background-color: #EDEEF3;
}
.bannerContent
{
  display: flex;
  align-items: center;
  height: 80vh;
}
.bannerContent .para{
  color: #212529;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
}
.bannerContent h1{
  color:#444444;
  font-weight: 700;
  line-height: 50px;
}

.mybutton{
    background: #2b4eff;
    border: 1px solid #2b4eff;  
    border-radius: 10px 0px 10px 10px;
    padding: 10px 25px;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top:10px;
   box-shadow: 0px 4px 15px 3px rgb(43 78 255 / 25%);

}

.mybutton:hover{
  color:white;
}
.highLightText{
  color:#2b4eff;
}